In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv("atm_data.csv")

In [3]:
data

,Unnamed: 0,atm_name,weekday,festival_religion,working_day,holiday_sequence,trans_date_set,trans_month,trans_year,prevweek_mean,total_amount_withdrawn
0,11,Mount Road ATM,MONDAY,NH,W,WWW,1,1,2011,648600.0,897100
1,16,Mount Road ATM,TUESDAY,NH,W,WWW,1,1,2011,648600.0,826000
2,21,Mount Road ATM,WEDNESDAY,NH,W,WWW,1,1,2011,648600.0,754400
3,26,Mount Road ATM,THURSDAY,NH,W,WWW,2,1,2011,648600.0,834200
4,31,Mount Road ATM,FRIDAY,NH,W,WWW,2,1,2011,648600.0,575300
...,...,...,...,...,...,...,...,...,...,...,...
2239,11565,Mount Road ATM,MONDAY,NH,W,HWW,5,9,2017,276058.0,447400
2240,11570,Mount Road ATM,TUESDAY,NH,W,WWW,6,9,2017,276058.0,153800
2241,11575,Mount Road ATM,WEDNESDAY,NH,W,WWW,6,9,2017,276058.0,167100
2242,11580,Mount Road ATM,THURSDAY,NH,W,WWH,6,9,2017,276058.0,317400
2243,11585,Mount Road ATM,FRIDAY,H,H,WHH,6,9,2017,276058.0,305100